# This Notebook contains all the data cleaning and preprocessing on the dataset "VACANT BUILDINGS" which was grabbed from the open baltimore website

# IMPORT BLOCK

In [1]:
#All the imports for the notebook can be found here 
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import folium as folium
import gmaps
import gmaps.datasets

In [2]:
df = pd.read_csv('Vacant_Buildings.csv') # Reading the data into the dataframe df

In [3]:
df.head()        #checking the first 5 rows in the dataset

,ReferenceID,Block,Lot,BuildingAddress,NoticeDate,Neighborhood,PoliceDistrict,CouncilDistrict,Location
0,0002 019 031016,0002,019,1909 W NORTH AVE,03/10/2016,EASTERWOOD,WESTERN,7,"(39.30952601, -76.64848892)"
1,0007 057 031116,0007,057,1734 APPLETON ST,03/11/2016,EASTERWOOD,WESTERN,7,"(39.30856758, -76.64921157)"
2,0125 012 030816,0125,012,522 N CAREY ST,03/08/2016,HARLEM PARK,WESTERN,9,"(39.29482152, -76.63877572)"
3,0151 009 030716,0151,009,317 N GILMOR ST,03/07/2016,FRANKLIN SQUARE,WESTERN,9,"(39.29261888, -76.64231678)"
4,0074 010 030918,0074,010,945 N MOUNT ST,03/09/2018,Sandtown-Winchester,Western,9,"(39.29975212, -76.64415784)"

In [4]:
len(df) #Total 16.6k rows in the dataset

16692

# Each column description with null values

In [5]:
df.isnull().sum(axis=0)

ReferenceID        0
Block              0
Lot                0
BuildingAddress    1
NoticeDate         0
Neighborhood       0
PoliceDistrict     0
CouncilDistrict    0
Location           0
dtype: int64

There are not many null values in the dataset only one row in which there is not building address, so lets go ahead and delete the row which has a null value. To make the dataset clean.

In [6]:
df.describe()

       CouncilDistrict
count     16692.000000
mean          9.364186
std           2.775971
min           1.000000
25%           7.000000
50%           9.000000
75%          12.000000
max          14.000000

In [7]:
df[df['BuildingAddress'].isnull()]

,ReferenceID,Block,Lot,BuildingAddress,NoticeDate,Neighborhood,PoliceDistrict,CouncilDistrict,Location
5193,0626 026 080217,0626,026,NaN,08/02/2017,Poppleton,Western,11,"(39.28929887, -76.62864465)"

In [8]:
df = df[df['BuildingAddress'].notnull()]

In [9]:
df.isnull().sum(axis=0)

ReferenceID        0
Block              0
Lot                0
BuildingAddress    0
NoticeDate         0
Neighborhood       0
PoliceDistrict     0
CouncilDistrict    0
Location           0
dtype: int64

In [10]:
df['CouncilDistrict'].unique()

array([ 7,  9, 11, 10, 12, 13,  8,  6,  5,  4, 14,  2,  1,  3],
      dtype=int64)

In [11]:
df['PoliceDistrict'].unique()   #its considering the coloumn as type sensitive,convert into a single case for no confusion

array(['WESTERN', 'Western', 'SOUTHERN', 'Southwestern', 'CENTRAL',
       'Southern', 'EASTERN', 'SOUTHEASTERN', 'SOUTHWESTERN', 'Eastern',
       'Southeastern', 'Northwestern', 'NORTHWESTERN', 'NORTHERN',
       'Notheastern', 'Central', 'Northern', 'NORTHEASTERN'], dtype=object)

In [12]:
df['PoliceDistrict']=df['PoliceDistrict'].str.lower()

In [13]:
df['Neighborhood'].unique()

array(['EASTERWOOD', 'HARLEM PARK', 'FRANKLIN SQUARE',
       'Sandtown-Winchester', 'CARROLLTON RIDGE', 'Boyd-Booth',
       'DOWNTOWN', 'WASHINGTON VILLAGE/PIGTOWN', 'Union Square',
       'Hollins Market', 'OLIVER', 'BROADWAY EAST',
       'New Southwest/Mount Clare', 'MCELDERRY PARK',
       'ELLWOOD PARK/MONUMENT', 'Easterwood',
       'COPPIN HEIGHTS/ASH-CO-EAST', 'Franklin Square',
       'NORTHWEST COMMUNITY ACTION', 'Poppleton', 'ROSEMONT',
       'FRANKLINTOWN ROAD', 'EDGEWOOD', 'Penrose/Fayette Street Outreach',
       'Broadway East', 'Madison-Eastend', 'McElderry Park',
       'Ellwood Park/Monument', 'Franklintown Road', 'Rosemont',
       'East Baltimore Midway', 'Central Park Heights', 'Brooklyn',
       'IRVINGTON', 'CONCERNED CITIZENS OF FOREST PARK', 'FOREST PARK',
       'HANLON-LONGWOOD', 'PARK CIRCLE', 'WOODBERRY', 'BARCLAY',
       'PIMLICO GOOD NEIGHBORS', 'MID-GOVANS',
       'Coldstream Homestead Montebello', 'Oliver', 'BROOKLYN', 'Berea',
       'CARE', 'Belair-Edison', 'SANDTOWN-WINCHESTER',
       'MIDTOWN-EDMONDSON', 'UNION SQUARE', 'NEW SOUTHWEST/MOUNT CLARE',
       'PENN NORTH', 'Biddle Street', 'DRUID HEIGHTS', 'Dolfield',
       'Westfield', 'Glenham-Belhar', 'West Arlington', 'BEREA',
       'Carrollton Ridge', 'Upton', 'Milton-Montford',
       'Patterson Park Neighborhood', 'Canton',
       'Coppin Heights/Ash-Co-East', 'Park Circle', 'Towanda-Grantley',
       'Mondawmin', 'Reservoir Hill', 'Hampden', 'Druid Heights',
       'Madison Park', 'MILTON-MONTFORD', 'MADISON-EASTEND', 'Oldtown',
       'Irvington', 'Pen Lucy', 'MILLHILL', 'SAINT JOSEPHS',
       'ROSEMONT HOMEOWNERS/TENANTS', 'Better Waverly', 'ALLENDALE',
       'Arlington', 'WINCHESTER', 'Downtown', 'CENTRAL FOREST PARK',
       'PANWAY/BRADDISH AVENUE', 'MONDAWMIN', 'Johnston Square',
       'Gay Street', 'Middle East', 'Shipley Hill',
       'Carroll-South Hilton', 'PARKVIEW/WOODBROOK',
       'CENTRAL PARK HEIGHTS', 'Millhill', 'RESERVOIR HILL',
       'EAST BALTIMORE MIDWAY', 'Bayview', 'Brewers Hill', 'Greektown',
       'Curtis Bay', 'Four By Four', 'ARLINGTON', 'Dorchester',
       'Garwyn Oaks', 'Fairmont', 'Darley Park', 'Cedarcroft', 'WESTPORT',
       'SAINT PAUL', 'Baltimore Highlands', 'Parklane',
       'Reisterstown Station', 'Glen', 'Pimlico Good Neighbors',
       'POPPLETON', 'Saint Helena', 'BOYD-BOOTH', 'Richnor Springs',
       'Violetville', 'Morrell Park', 'MOUNT HOLLY', 'WINDSOR HILLS',
       'FAIRMONT', 'WALBROOK', 'UPTON', 'GREENMOUNT WEST',
       'BRIDGEVIEW/GREENLAWN', 'JOHNSTON SQUARE', 'Parkside',
       'MIDDLE EAST', 'Midtown-Edmondson', 'BIDDLE STREET',
       'Washington Village/Pigtown', 'East Arlington', 'SHIPLEY HILL',
       'CARROLL-SOUTH HILTON', 'Greenspring', 'GAY STREET', 'JONESTOWN',
       'Harlem Park', 'WASHINGTON HILL', 'FELLS POINT',
       'Rosemont Homeowners/Tenants', 'Saint Josephs', 'Mosher',
       'Winchester', 'ASHBURTON', 'TOWANDA-GRANTLEY', 'LIBERTY SQUARE',
       'OLD GOUCHER', 'MOUNT WASHINGTON', 'Edgewood', 'WINSTON-GOVANS',
       'Remington', 'Waverly', 'Overlea', 'Penn North', 'Moravia-Walther',
       'Waltherson', 'Westport', 'BETTER WAVERLY', 'Parkview/Woodbrook',
       'Cherry Hill', 'Northwest Community Action', 'Highlandtown',
       'Lakeland', 'Woodmere', 'PATTERSON PARK NEIGHBORHOOD',
       'MOUNT WINANS', 'MORRELL PARK', 'GROVE PARK', 'WEST ARLINGTON',
       'Pulaski Industrial Area', 'HOWARD PARK',
       'Concerned Citizens Of Forest Park', 'Barclay',
       'Woodbourne-McCabe', 'Forest Park', 'BALTIMORE HIGHLANDS',
       'Hillen', 'West Hills', 'Winston-Govans', 'Riverside', 'Idlewood',
       'PENROSE/FAYETTE STREET OUTREACH', 'Mid-Town Belvedere',
       'Greenmount West', 'Kernewood', 'DORCHESTER', 'CALLAWAY-GARRISON',
       'REMINGTON', 'Lauraville', 'Abell', 'WILHELM PARK', 'BEECHFIELD',
       'Cameron Village', 'Loch Raven', 'Cedmont', 'Allendale',
       'Evergreen Lawn', 'Charles Village', 'DARLEY PARK',
       'Callaway-Garrison', 'Walbrook', 'Hanlon-Longwood', 'MOSHER',
       'HAMPDEN', 'Central Forest Park', 'CURTIS BAY', 'GWYNNS FALLS',
       'Glen Oaks', 'Lower Edmondson Village', 'Edmondson Village',
       'WEST HILLS', 'Bridgeview/Greenlawn', 'CHARLES NORTH',
       'EDMONDSON VILLAGE', 'CYLBURN', 'Wrenlane', 'BROENING MANOR',
       'SHARP-LEADENHALL', 'WOODMERE', 'Hamilton Hills', 'DOLFIELD',
       'SOUTH CLIFTON PARK', 'Sharp-Leadenhall', 'LAKELAND',
       'LAKE WALKER', 'WOODBOURNE-MCCABE', 'Cylburn', 'CHARLES VILLAGE',
       'Lucille Park', 'Jonestown', 'Upper Fells Point', 'HOLLINS MARKET',
       'West Forest Park', 'Mount Holly', 'Windsor Hills',
       "BUTCHER'S HILL", 'Yale Heights', 'Burleith-Leighton', 'WAVERLY',
       'Ednor Gardens-Lakeside', 'Medford', 'Tremont', 'GREENSPRING',
       'FALLSTAFF', 'GLEN', 'LEVINDALE', 'Rosemont East', 'Kresson',
       'TEN HILLS', 'Frankford', 'Harwood', 'Arcadia',
       'South Clifton Park', 'Fallstaff', 'PEN LUCY', 'Evergreen',
       'Belvedere', 'Howard Park', 'LANGSTON HUGHES', 'PARKLANE',
       'HOMELAND', 'Rognel Heights', 'MID-TOWN BELVEDERE',
       'SOUTH BALTIMORE', 'OAKLEE', 'Seton Hill',
       'LOWER EDMONDSON VILLAGE', 'Patterson Place', "Butcher's Hill",
       'SETON HILL', 'Gwynns Falls', 'UPPER FELLS POINT', 'OLDTOWN',
       'Broening Manor', 'Graceland Park', 'Wakefield', 'CANTON',
       'GARWYN OAKS', 'REISTERSTOWN STATION', 'HIGHLANDTOWN',
       'ROGNEL HEIGHTS', 'Washington Hill', 'University Of Maryland',
       'Mount Washington', 'WEST FOREST PARK', 'New Northwood',
       'Langston Hughes', 'Beechfield', 'Orangeville', 'Wilson Park',
       'Bolton Hill', 'Guilford', 'Mid-Govans', 'Kenilworth Park',
       'North Harford Road', 'Stonewood-Pentwood-Winston',
       'Panway/Braddish Avenue', 'Mount Vernon', 'Woodbourne Heights',
       'Mount Winans', 'Forest Park Golf Course', 'Roland Park',
       'South Baltimore', 'Ashburton', 'Fells Point',
       'Pleasant View Gardens', 'Federal Hill', 'Fairfield Area',
       'Charles North', 'Cross Country', 'Cedonia', 'Little Italy',
       'EVERGREEN LAWN', 'Belair-Parkside', 'Wilhelm Park', 'Grove Park',
       'Levindale', 'Chinquapin Park', 'Woodberry', 'Westgate',
       'Ramblewood', 'Liberty Square', 'Homeland', 'Oakenshawe',
       'Wyman Park', 'Penn-Fallsway', 'Taylor Heights', 'Rosebank',
       'Lake Walker', 'LUCILLE PARK', 'Mayfield', 'BURLEITH-LEIGHTON',
       'Medfield', 'Saint Paul', 'Original Northwood', 'Franklintown',
       'Heritage Crossing', 'HARWOOD', 'Uplands', 'Hopkins Bayview',
       'COLDSTREAM HOMESTEAD MONTEBELLO', 'WESTFIELD', 'FOUR BY FOUR',
       'ROLAND PARK', 'Hunting Ridge', "Ridgely's Delight", 'GLEN OAKS',
       'LAURAVILLE', 'WALTHERSON', 'NORTH HARFORD ROAD', 'BELAIR-EDISON',
       'UPLANDS', 'HUNTING RIDGE', 'FRANKLINTOWN', 'MADISON PARK',
       'BOLTON HILL', 'HERITAGE CROSSING', 'MOUNT VERNON',
       'UNIVERSITY OF MARYLAND', "RIDGELY'S DELIGHT", 'FEDERAL HILL',
       'CARROLL - CAMDEN INDUSTRIAL AREA', 'LITTLE ITALY',
       'PLEASANT VIEW GARDENS', 'RIVERSIDE', 'LOCUST POINT',
       'CAMERON VILLAGE', 'GUILFORD', 'OAKENSHAWE', 'ABELL',
       'Clifton Park', 'KERNEWOOD', 'RADNOR-WINSTON', 'EVESHAM PARK',
       'KENILWORTH PARK', 'WILSON PARK', 'RICHNOR SPRINGS', 'WRENLANE',
       'Perring Loch', 'KRESSON', 'ORANGEVILLE INDUSTRIAL AREA',
       'ORANGEVILLE', 'PULASKI INDUSTRIAL AREA', 'BREWERS HILL',
       'GREEKTOWN', 'BAYVIEW', 'CHERRY HILL'], dtype=object)

In [14]:
df['PoliceDistrict'].unique()

array(['western', 'southern', 'southwestern', 'central', 'eastern',
       'southeastern', 'northwestern', 'northern', 'notheastern',
       'northeastern'], dtype=object)

In [15]:
len(df['Lot'].unique())

505

In [16]:
df['Block'].unique()

array(['0002', '0007', '0125', ..., '8358', '8422', '8434F'], dtype=object)

In [ ]:
mapit = None
for i in range(0,len(df)):
    LatLong  = df['Location'].iloc[i].split(",")
    Lat = LatLong[0][1:]
    Long = LatLong[1][:len(LatLong[1])-2]
    mapit = folium.Map( location=[ float(Lat), float(Long) ] )

In [ ]:
mapit

In [ ]:
df.head()

In [ ]:
dfLocation = df[['Location','Lot','CouncilDistrict']]

In [ ]:
dfLocation

In [ ]:
for i in range(0,10):
    LatLong  = dfLocation['Location'].iloc[i].split(",")
    Lat = LatLong[0][1:]
    Long = LatLong[1][:len(LatLong[1])-2]
    print(i)
    dfLocation['Lot'].iloc[i]=float(Lat)
    dfLocation['CouncilDistrict'].iloc[i]=float(Long)

In [ ]:
dfLocation

In [ ]:
gmaps.configure(api_key="AIzaSyBJKywgJYuW5tSDTgMty-XHU-LhKJPg9tM")
location_df = dfLocation[['Lot', 'CouncilDistrict']][:10]

starbucks_layer = gmaps.symbol_layer(
    location_df, fill_color="green", stroke_color="green", scale=2
)
fig = gmaps.figure()
fig.add_layer(starbucks_layer)
fig

In [ ]:
fig

In [ ]:
%matplotlib inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import gmaps
import gmaps.datasets
gmaps.configure(api_key="AI...") # Your Google API key

df = gmaps.datasets.load_dataset_as_df('starbucks_kfc_uk')

starbucks_df = df[df['chain_name'] == 'starbucks']
starbucks_df = starbucks_df[['latitude', 'longitude']]

starbucks_layer = gmaps.symbol_layer(
    starbucks_df, fill_color="green", stroke_color="green", scale=2
)
fig = gmaps.figure()
fig.add_layer(starbucks_layer)
fig

In [ ]:
%matplotlib inline
fig

In [ ]:
from matplotlib.cm import viridis
from matplotlib.colors import to_hex

In [ ]:
type(fig)

In [ ]:
import ipywidgets as widgets
widgets.IntSlider()

In [ ]:
jupyter nbextension list

In [17]:
df

,ReferenceID,Block,Lot,BuildingAddress,NoticeDate,Neighborhood,PoliceDistrict,CouncilDistrict,Location
0,0002 019 031016,0002,019,1909 W NORTH AVE,03/10/2016,EASTERWOOD,western,7,"(39.30952601, -76.64848892)"
1,0007 057 031116,0007,057,1734 APPLETON ST,03/11/2016,EASTERWOOD,western,7,"(39.30856758, -76.64921157)"
2,0125 012 030816,0125,012,522 N CAREY ST,03/08/2016,HARLEM PARK,western,9,"(39.29482152, -76.63877572)"
3,0151 009 030716,0151,009,317 N GILMOR ST,03/07/2016,FRANKLIN SQUARE,western,9,"(39.29261888, -76.64231678)"
4,0074 010 030918,0074,010,945 N MOUNT ST,03/09/2018,Sandtown-Winchester,western,9,"(39.29975212, -76.64415784)"
5,0275 060 030716,0275,060,319 S MONROE ST,03/07/2016,CARROLLTON RIDGE,southern,9,"(39.28383911, -76.64647246)"
6,0206 035 031418,0206,035,2023 W BALTIMORE ST,03/14/2018,Boyd-Booth,southwestern,9,"(39.28783131, -76.64939781)"
7,0599 008 031116,0599,008,235 PARK AVE,03/11/2016,DOWNTOWN,central,11,"(39.29280154, -76.6178644)"
8,0767 117 030816,0767,117,1329 SARGEANT ST,03/08/2016,WASHINGTON VILLAGE/PIGTOWN,southern,10,"(39.28035426, -76.63645611)"
9,0206 049 031418,0206,049,8 S PAYSON ST,03/14/2018,Boyd-Booth,southwestern,9,"(39.2875711, -76.64891445)"
10,0207 047 031418,0207,047,1905 W BALTIMORE ST,03/14/2018,Boyd-Booth,southwestern,9,"(39.28789672, -76.64717506)"
11,0215 030 031418,0215,030,1326 HOLLINS ST,03/14/2018,Union Square,southern,9,"(39.2878181, -76.63895877)"
12,0219 023 031418,0219,023,3 S SCHROEDER ST,03/14/2018,Hollins Market,southern,9,"(39.28848956, -76.63356746)"
13,0855 008 030816,0855,008,622 ARCHER ST,03/08/2016,WASHINGTON VILLAGE/PIGTOWN,southern,10,"(39.28160587, -76.63017981)"
14,0247 043 031518,0247,043,112 S CALHOUN ST,03/15/2018,Union Square,southern,9,"(39.28598718, -76.63966474)"
15,1126 056 030716,1126,056,1532 N BOND ST,03/07/2016,OLIVER,eastern,12,"(39.30815721, -76.59707552)"
16,1454 029 030716,1454,029,1816 N MILTON AVE,03/07/2016,BROADWAY EAST,eastern,13,"(39.31174375, -76.58335172)"
17,1477 047 031116,1477,047,1516 RUTLAND AVE,03/11/2016,BROADWAY EAST,eastern,12,"(39.30822909, -76.59304661)"
18,1500 011 030716,1500,011,2131 E OLIVER ST,03/07/2016,BROADWAY EAST,eastern,13,"(39.30757991, -76.58751523)"
19,0264 040 031418,0264,040,1402 MCHENRY ST,03/14/2018,New Southwest/Mount Clare,southern,9,"(39.28466697, -76.63975999)"
20,1658 069 030916,1658,069,530 N BELNORD AVE,03/09/2016,MCELDERRY PARK,southeastern,13,"(39.29769466, -76.57887137)"
21,1661 009 030716,1661,009,3017 MCELDERRY ST,03/07/2016,ELLWOOD PARK/MONUMENT,southeastern,13,"(39.29784806, -76.57460498)"
22,0001 003 012512,0001,003,2041 W NORTH AVE,01/25/2012,EASTERWOOD,western,7,"(39.30941765, -76.65104057)"
23,0001 006 120214,0001,006,2035 W NORTH AVE,12/02/2014,EASTERWOOD,western,7,"(39.30942276, -76.65089166)"
24,0001 007 020113,0001,007,2033 W NORTH AVE,02/01/2013,EASTERWOOD,western,7,"(39.30942443, -76.65084103)"
25,0001 008 070115,0001,008,2031 W NORTH AVE,07/01/2015,EASTERWOOD,western,7,"(39.30942603, -76.65079304)"
26,0001 015 012816,0001,015,2017 W NORTH AVE,01/28/2016,EASTERWOOD,western,7,"(39.30943944, -76.65044524)"
27,0001 026 121410,0001,026,1810 N PAYSON ST,12/14/2010,EASTERWOOD,western,7,"(39.30902061, -76.65010741)"
28,0001 028 020808,0001,028,1806 N PAYSON ST,02/08/2008,EASTERWOOD,western,7,"(39.30894358, -76.65010312)"
29,0002 069 030918,0002,069,1825 APPLETON ST,03/09/2018,Easterwood,western,7,"(39.30931305, -76.64874425)"
...,...,...,...,...,...,...,...,...,...
16662,7613 041 121715,7613,041,410 SWALE AVE,12/17/2015,CHERRY HILL,southern,10,"(39.24980752, -76.61932506)"
16663,7614 002 100305,7614,002,503 CHERRY HILL ROAD,10/03/2005,CHERRY HILL,southern,10,"(39.25062706, -76.62103964)"
16664,7614 009 041415,7614,009,517 CHERRY HILL ROAD,04/14/2015,CHERRY HILL,southern,10,"(39.25032059, -76.62151326)"
16665,7614 014 012214,7614,014,500 BRIDGEVIEW ROAD,01/22/2014,CHERRY HILL,southern,10,"(39.25034282, -76.62059497)"
16666,7614 017 083013,7614,017,506 BRIDGEVIEW ROAD,08/30/2013,CHERRY HILL,southern,10,"(39.25027888, -76.62076128)"
16667,7615 013 102414,7615,013,446 ROUNDVIEW ROAD,10/24/2014,CHERRY HILL,southern,10,"(39.24983767, -76.62034951)"
16668,7615 014 071814,7615,014,448 ROUNDVIEW ROAD,07/18/2014,CHERRY HILL,southern,10,"(39.24980143, -76.62033606)"
16669,7615 017 052010,7615,017,454 ROUNDVIEW ROAD,05/20/2010,CHERRY HILL,southern,10,"(39.24959948, -76.62026233)"
16670,7615 019 111015,7615,019,458 ROUNDVIEW ROAD,11/10/2015,CHERRY HILL,southern,10,"(39.24950509, -76.62026893)"
16671,7616 042 111105,7616,042,512 SEAGULL AVE,11/11/2005,CHERRY HILL,southern,10,"(39.24819518, -76.61823445)"
16672,7617 021 111015,7617,021,3053 ASCENSION ST,11/10/2015,CHERRY HILL,southern,10,"(39.24888198, -76.61804168)"
16673,7779 002 081015,7779,002,2534 WASHINGTON BLVD,08/10/2015,MORRELL PARK,southwestern,10,"(39.26633075, -76.65329643)"
16674,7779 006 022416,7779,006,2522 WASHINGTON BLVD,02/24/2016,MORRELL PARK,southwestern,10,"(39.26653873, -76.65305597)"
16675,7779 006A 030714,7779,006A,2518 WASHINGTON BLVD,03/07/2014,MORRELL PARK,southwestern,10,"(39.26657385, -76.65301285)"
16676,7983 004 050407,7983,004,1107 WALNUT AVE,05/04/2007,ROGNEL HEIGHTS,southwestern,8,"(39.29712221, -76.69160444)"
16677,7987 013 051110,7987,013,4315 FLOWERTON ROAD,05/11/2010,ROGNEL HEIGHTS,southwestern,8,"(39.29635104, -76.68986713)"
16678,8017 011 032912,8017,011,520 OVERDALE ROAD,03/29/2012,TEN HILLS,southwestern,8,"(39.28988999, -76.70026177)"
16679,8030 003 090407,8030,003,5002 FREDERICK AVE,09/04/2007,TEN HILLS,southwestern,8,"(39.28220261, -76.69714693)"
16680,8030 005 050914,8030,005,2 N WICKHAM ROAD,05/09/2014,TEN HILLS,southwestern,8,"(39.28425381, -76.69772777)"
16681,8298 004 123009,8298,004,4407 LIBERTY HEIGHTS AVE,12/30/2009,HOWARD PARK,northwestern,8,"(39.32994573, -76.69236165)"
16682,8301 007 111315,8301,007,4312 MAINE AVE,11/13/2015,CENTRAL FOREST PARK,northwestern,8,"(39.32912219, -76.69158499)"
16683,8301 014 090712,8301,014,4301 LIBERTY HEIGHTS AVE,09/07/2012,CENTRAL FOREST PARK,northwestern,8,"(39.32925005, -76.69011071)"
16684,8318 001 073114,8318,001,5100 GWYNN OAK AVE,07/31/2014,HOWARD PARK,northwestern,8,"(39.33059429, -76.7021156)"
16685,8319 003 083012,8319,003,5605 FERNPARK AVE,08/30/2012,HOWARD PARK,northwestern,8,"(39.33198372, -76.70987321)"
16686,8328 007 070912,8328,007,5314 GWYNN OAK AVE,07/09/2012,HOWARD PARK,northwestern,8,"(39.32893322, -76.70737763)"
16687,8333 002 072415,8333,002,5505 GWYNN OAK AVE,07/24/2015,HOWARD PARK,northwestern,8,"(39.32817276, -76.70805038)"
16688,8358 001 022615,8358,001,4101 SPRINGDALE AVE,02/26/2015,CENTRAL FOREST PARK,northwestern,8,"(39.3262788, -76.68891737)"
16689,8415 001F 041713,8415,001F,2017 OAK DR,04/17/2013,FRANKLINTOWN,southwestern,8,"(39.31170598, -76.71087117)"
16690,8422 031 081314,8422,031,5219 W NORTH AVE,08/13/2014,FRANKLINTOWN,southwestern,8,"(39.3087471, -76.71077407)"
16691,8434F002 101411,8434F,002,5112 N FRANKLINTOWN ROAD,10/14/2011,FRANKLINTOWN,southwestern,8,"(39.3038252, -76.70972528)"